/* Общие стили */
*{
  box-sizing: border-box;
}

.logo{
  width: 228px;
  height: 32px;
}

.back-grey_dark{
  background-color: #1f1f1f;
}

.back-grey{
  background-color: #f2f2f2;
}

.back-blue{
  background-color: #2f80ed;
}

.back-black{
  background-color: #000000;
}

/* Стили для страници */
.body{
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
}

/* Для header */
.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title{
  margin-left: 64px;
  width: 730px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle{
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
}

.header__link{
  color: #2f80ed;
}

.header__main-illustration{
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
}

/*  */

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
